__pycache__
*.py[cod]
*.pyc

*config.json
config.json
test.py
secret.py
plan.*
/strunt/
/formula1/*.png
resources/lapis_pics/*
temp/*
!temp/temperature.png
variable/*
!variable/structures.md
.idea/
talking.py
talk_conf.json
